<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

    <head>
        <title>Crear</title>
        <link rel="stylesheet" href="/css/style.css" />

    </head>

    <body>
        <div layout:fragment="content" class="container-lg">

            <div class="col-xs-8 col-md-8">
                <h2>Editar Asesoría</h2>
                <form action="/actualizar">
                    <div class="form-group">
                        <label for="email">Asunto:</label>
                        <input required="" maxlength="100" type="text" class="form-control" name="asunto" th:value="${asesoria.asunto}" />
                    </div>
                    <div class="form-group">
                        <label for="email">Descripcion:</label>
                        <textarea required="" maxlength="500" class="form-control" name="descripcion" cols="60" rows="3"
                            th:text="${asesoria.descripcion}"></textarea>
                    </div>
                    <div class="form-group">

                        <label for="email">Respuesta:</label>
                        <div th:if="${adminRole}">
                            <input id="limpiarButton"type="button" value="Limpiar" onclick="javascript: limpiarCampo();" style="margin-bottom: 10px;">
                        </div>

                        <div th:if="${userRole}">
                            <textarea readonly id="output" class="form-control" name="respuesta" cols="60" rows="3"
                                th:text="${asesoria.respuesta}"></textarea>
                        </div>

                        <div th:if="${adminRole}">
                            <textarea maxlength="500" id="output" class="form-control" name="respuesta" cols="60" rows="3"
                                th:text="${asesoria.respuesta}"></textarea>
                        </div>
                    </div>

                    <input type="hidden" name="id" th:value="${asesoria.id}" />
                    <button id="guardarButton" type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>


        </div>
    </body>

</html>