<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

    <head>
        <title>Sobre nosotros</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <div layout:fragment="content" class="container-lg">

            <div class="row">

                <article style="padding-right: 15px;padding-left: 15px; padding-top: 15px">
                    <header>
                        <h3 style="margin-top: 10px;">¿Qué es Agrovest?</h3>
                    </header>

                    <img src="/images/banner2.jpg" style="margin-bottom: 35px;width: 100%;border-radius: 5px;margin-top: 35px;">

                    <p>Agrovest es una aplicación web que busca ayudar a inversores de Palma Aceitera Africana en su inversión
                        en esta actividad, mediante un Plan de Negocio actualizado y factible que le permitirá avanzar en la inversión,
                        además se cuenta con un sistema de asesorías respaldadas por expertos en el área que ayudarán en cualquier
                        inquietud o problema que surja mientras el inversor aplica el Plan de Negocio.</p>

                </article>

                <article style="padding-right: 15px;padding-left: 15px;margin-top: 10px;">
                    <header>
                        <h3 style="margin-top: 10px;">¿Por qué invertir en Palma Aceitera Africana?</h3>
                    </header>

                    <p> La palma de aceite es uno de los árboles más útiles que se ha conocido. Cada parte del árbol – de su
                        fruto,sus hojas, tronco, y su savia – se utiliza para una cosa u otra. Mientras que los frutos se procesan
                        en el aceite de palma y aceite de almendra de palma, las frondas ( hojas ) se utilizan para el techado de
                        viviendas en las zonas rurales y en los campos, y la savia ( vino de palma ) es una bebida refrescante tomada
                        en muchas partes del mundo y en mi querido Perú. El aceite de palma es de color rojo y se utiliza para la
                        cocina en muchos países. También se utiliza en la producción de jabones y cosméticos, al igual que el
                        aceite de semilla de palma, que se hace de la misma fruta.</p>

                </article>

            </div>

        </div>
    </body>

</html>