<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">

    <head>
        <title>Preparación</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>

    <body>
        <div layout:fragment="content" class="container-lg">

            <div id="planPart2">

                <h1 style="font-size: 1.750em;margin-bottom: 1.5rem;">Preparación</h1>

                <div class="card mb-3" >
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="images/semilla2.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Semillas </h5> <br>
                                <p id="cardPart1" class="card-text">Comprar las plantas de semillero que va a plantar. A pesar de que usted tiene la opción de hacer crecer las semillas a sí mismo, esto lleva tiempo y que puede terminar con plántulas de bajo rendimiento. Una planta de  semillero se vende por $ 1. Usted necesitará por lo menos 1.000 plantas de semillero para una plantación de  tamaño moderado.</p>
<!--                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" >
                    <div class="row no-gutters">

                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Plantación </h5> <br>
                                <p id="cardPart2" class="card-text">Plantar la plántula en el terreno ya preparado. Asegúrese de que haya un espacio adecuado entre las plantas. Sin  espacio adecuado, las raíces se interfieren entre sí, dando lugar a un crecimiento limitado y bajo rendimiento.  La mejor separación es de 8-9 metros entre dos plantas. </p>
<!--                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                            </div>
                        </div>
                        <div class="col-md-5 text-right">
                            <img src="images/palma_nuevo.jpg" class="card-img" alt="...">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header font-weight-bold">
                        Maleza
                    </div>
                    <div class="card-body">
                        <p id="cardPart3" class="card-text">Eliminar las malas hiervas y aplicar fertilizantes a las plantas a intervalos. Este intervalo varía con la  calidad del suelo y la velocidad a la que crecen las malas hierbas alrededor de las plantas. Usted tendrá que  obtener la recomendación de un experto para esto.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>